html, body { 
	background-color: #eceff5;  
}
body {
	font-size: 14px;
}

th, td {
	text-align: letf;
	padding: 10px;
	white-space: nowrap;
}

/* -- [ material overrides ] -- */
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .collapsible, .side-nav {
	box-shadow: none;
}
.select-wrapper input.select-dropdown, .input-field label {
	font-size: 0.8rem;
}
.input-field label {
	font-size: 11px;
}
.dropdown-content {
	min-width: 150px;
}
.dropdown-content li {
	min-height: auto;
}
.dropdown-content li > a, .dropdown-content li > span {
	font-size: 0.85rem;
	line-height: 1.2rem;
	padding: 0.5rem 1rem;
}
.card-panel {
	margin: .5rem 0;
}

/* ---- [ global ] ---- */
.card-head {
	padding-bottom: 20px;
}
.vh100 {
	height: 100vh;
}
.btn {
	font-size: 12px;
}
.btn i {
	font-size: 13px;
}
.hidden {
	display: none;
}
.badge {
    border-radius: 100%;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    margin: 2px 4px;
    padding: 0 5px 2px;
}

/* ---- [ main ] ---- */
.main-wrap {
    padding: 0 10px 0 250px;
}
.main-wrap > .row {
	margin-bottom: 0;
}

/* ---- [ dashboard ] ---- */
.dashboard .card-panel {
	height: 280px;
}
.dashboard .analysis {
	display: flex;
	flex-direction: row;
}
.dashboard .statistics {
	flex-direction: column;
}
.dashboard .run-info {
	font-size: 12px;
	overflow-x: auto;
}
.card-panel .filters {
	padding-bottom: 80px;
}
.card-title {
	text-align: center;
	font-size: 16px;
}
.dashboard .card-content canvas {
	height: 220px;
	width: 220px;
}
#legend {
	margin-top: 55px;
	margin-left: 25px;
}
.doughnut-legend li span {
	border-radius: 2px;
	float: left;
	height: 12px;
	margin-right: 8px;
	margin-top: 4px;
	width: 15px;
}
.panel-lead {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.pass-percentage {
	font-size: 40px;
}
.stats {
	display: block;
	font-size: 12px;
	color: lightslategray;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}
.progress {
    background-color: #49ecff;
}
.progress .determinate {
    background-color: #1fc2ed;
}

.collapsible li.active i {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.collapsible {
  border-top: 1px solid #ddd;
  border-right: none;
  border-left: none;
  margin: 0.5rem 0 1rem 0;
}
.collapsible-header {
  display: block;
}
.collapsible-header div {
  float: left;
}
.collapsible-header span {
  float: right;
  margin-top: 0px;
}