html, body { 
	background-color: #eceff5;  
}
body {
	font-size: 14px;
}

th, td {
	text-align: letf;
	padding: 10px;
	white-space: nowrap;
}

/* -- [ material overrides ] -- */
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .collapsible, .side-nav {
	box-shadow: none;
}
[type='checkbox']:checked + label::before {
	border-color: transparent #eee #eee transparent;
}
[type='checkbox'] + label::before {
	border: 2px solid #ddd;
	margin-top: 4px;
}
.select-wrapper input.select-dropdown, .input-field label {
	font-size: 0.8rem;
}
.material-tooltip, label {
	font-size: 13px !important;
}
.input-field label {
	font-size: 11px !important;
}
.dropdown-content {
	min-width: 150px;
}
.dropdown-content li {
	min-height: auto;
}
.dropdown-content li > a, .dropdown-content li > span {
	font-size: 0.85rem;
	line-height: 1.2rem;
	padding: 0.5rem 1rem;
}
.card-panel {
	margin: .5rem 0;
}

/* ---- [ global ] ---- */
.card-head {
	padding-bottom: 20px;
}
.vh100 {
	height: 100vh;
}
.btn {
	font-size: 12px;
}
.btn i {
	font-size: 13px;
}
.input-field label {
	color: #db7093;
	left: 0;
}
.hidden {
	display: none;
}
.text-white {
	color: #fff !important;
}
.weight-light {
    font-size: 12px;
	font-weight: 400;
}
.weight-normal {
	font-weight: 500;
}
.weight-bold {
	font-weight: 700;
}
.no-margin {
	margin: 0 !important;
}
.no-margin-h {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-v {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-h {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-v {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.badge {
    border-radius: 100%;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    margin: 2px 4px;
    padding: 0 5px 2px;
}

/* ---- [ main ] ---- */
.main-wrap {
    padding: 0 10px 0 250px;
}
.main-wrap > .row {
	margin-bottom: 0;
}

/* ---- [ containers ] ---- */
.no-tests {
    margin-left: 11px;
}
.report-list, .suite-list, .suite-details {
    bottom: 0;
    top: 48px;
    position: fixed;
}
.report-list {
    left: 261px;
    right: 20px;
    /* top: 298px; */
}
.report-list, .suite-details {
    overflow-y: auto;
}
.report-list > table {
    margin-bottom: 50px;
}
.suite-list {
    overflow-y: scroll;
    width: 500px;
}
.suite-details {
    left: 762px;
    right: 1%;
}
.v-spacer {
    top: 298px;
}

/* ---- [ dashboard ] ---- */
.dashboard .card-panel {
	height: 280px;
}
.card-panel .analysis {
	flex-direction: row;
}
.card-panel .statistics {
	flex-direction: column;
}
.card-title {
	text-align: center;
	font-size: 16px;
}
.dashboard .card-content {
	display: flex;
}
.dashboard .card-content canvas {
	width: 220px;
}
#legend {
	margin-top: 55px;
	margin-left: 25px;
}
.doughnut-legend li span {
	border-radius: 2px;
	float: left;
	height: 12px;
	margin-right: 8px;
	margin-top: 4px;
	width: 15px;
}
.panel-lead {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.pass-percentage {
	font-size: 40px;
}
.stats {
	display: block;
	font-size: 12px;
	color: lightslategray;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}
.progress {
    background-color: #49ecff;
}
.progress .determinate {
    background-color: #1fc2ed;
}

.collapsible li.active i {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.collapsible {
  border-top: 1px solid #ddd;
  border-right: none;
  border-left: none;
  margin: 0.5rem 0 1rem 0;
}
.collapsible-header {
  display: block;
}
.collapsible-header div {
  float: left;
}
.collapsible-header span {
  float: right;
  margin-top: 0px;
}